#bottom-bar.navbar.navbar-fixed-bottom
    .navbar-inner
        .container-fluid.clearfix
            ul#breadcrumb.nav.pull-left
            ul#trash-option.nav.pull-right
                li.dropdown.nav-option
                    a.dropdown-toggle(href="#", data-toggle="dropdown")
                        img(src="/img/bin.png", alt="Trash")


//Application scripts
:js
    var initialOptions = {
        browsers: !{JSON.stringify(browsers)},
        windows: !{JSON.stringify(windows)},        
        listboards: !{JSON.stringify(listboards)},
        lists: !{JSON.stringify(lists)},
        items: !{JSON.stringify(items)}
    }
script(src="/js/main.min.js")