#bottom-bar(class="navbar navbar-fixed-bottom")
  ul#breadcrumb(class="nav pull-left")  
  ul#trash-option(class="nav")
    li(class="dropdown nav-option") 
      a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
        img(src="/img/bin.png", alt="Trash")
            

//Application scripts
:js
  var initialOptions = {           
    currentDashboardId: '#{currentDashboardId}',
    dashboards: !{JSON.stringify(dashboards)},
    containers: !{JSON.stringify(containers)},
    tags: !{JSON.stringify(tags)},
    items: !{JSON.stringify(items)}
  }
script(data-main="/js/main", src="/js/libs/require/require.js")
//script(src='/js/almond.js')
//script(src='/js/tagnfile.it.js')