.info-sidebar.sidebar-nav
  ul.nav.nav-list
    li.nav-header
      h4 Information
    li(class=option==="faq"?'active':'')
      a(href='/faq') FAQ
    li(class=option==="help"?'active':'')
      a(href='/help') Help
    li(class=option==="about"?'active':'')
      a(href='/about') About us
    li.nav-header
      h4 Legal
    li(class=option==="privacy"?'active':'')
      a(href='/privacy') Pivacy
    li(class=option==="terms"?'active':'')
      a(href='/terms') Terms
